
.newclass{
    font-family: "Monsieur La Doulaise", cursive;
    color: orange;
    font-weight: 400;
    font-size: 80px;
}
.h1{
    font-weight: 200;
    font-size: 50px;
    font-family: "Outfit", sans-serif;
}
.div1{
    font-family: "Outfit", sans-serif;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    margin-top: 4%;
    font-weight: 150;
}
.div1 img{
    width: 70%;
    float: right;
    margin-right: 20%;
    
   
}
.h4{
    font-weight: 300;
}
.banner{
    background-image: url("images1/bg1.png");
    background-repeat: no-repeat;
    
}
section{
    height: 750px;
    padding-bottom: 50px;
}
body{
    margin: 0%;
}
.div1 p{
    font-size: 20px;
}
.hirebutton{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(230, 125, 39), tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 500;

}




.div2 img{
    float: left ;
    margin-left: 5%;
    width: 30%;

}
.h2{
    float: right;
    width: 50%;
    font-size: 50px;
    font-family:"Outfit", sans-serif ;
    font-weight: 250;
    padding-top: 50;
}
.p2{
float: right;
width: 30%;
margin-right: 20%;
font-family:"Outfit", sans-serif ;
font-weight: 180;

}
.high2{
    color: rgb(153, 41, 234);
}
.sec2h3{
    float: right;
    width: 50%;
}
.div2 h3{
    font-family:"Outfit", sans-serif ;
    font-weight: 150;
}
.btt2{
    float: right;
}
