body{
    font-family: "Noto Sans", sans-serif;
  
  }

h1{
    font-size:50px;
    text-align: center;
}
.first-class{
    color: rgb(108, 158, 43);
    text-align: center;
    
}
h3{
    text-align: center;
}
.para{
    color: aquamarine;
    background-color: black;
    size: 50opx;
    font-family: 'Times New Roman', Times, serif ;
    text-align: center;
}
p{
    text-align: center;
}